
.body {
  background-color: #FFFFFF;
  width: 250px;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    
}

.main {
    margin: 5px;
}

.header {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 190%;
  padding-top: 20px;
  padding-bottom: 5px;
  margin: 0 !important;
  background-image: url(img/theatre.jpg);
  background-size: contain;
}

.intro {
  text-align: center;
  padding: 5px;
}

.alert {
  text-align: center;
}

.split {
  height: 5px;
}

.got {
  background-image: url('img/got.jpg');
  background-size: 95% 100%;
  height: 50px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.got .check {
  display: none;
}

.got:hover {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.got:hover .check {
  display: inline;
}

.suits {
  background-image: url('img/suits-banner.jpg');
  background-size: 95% 100%;
  height: 50px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.suits:hover {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.suits .check {
  display: none;
}

.suits:hover .check {
  display: inline;
}

.got:focus {
  opacity: 0.5;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.hoc {
  background-image: url('img/hoc-banner.jpg');
  background-size: 95% 100%;
  height: 50px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hoc:hover {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.hoc .check {
  display: none;
}

.hoc:hover .check {
  display: inline;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
    height: 50%;
    width: 50%
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

