.body {
  background-color: #FFFFFF;
  width: 250px;
}

.header {
  text-align: center;
  color: #474350;
  font-family: 'Anton', sans-serif;
  font-size: 150%;
  padding: 20px;
}

.intro {
  text-align: center;
  padding: 5px;
}

.alert {
  padding-top: 20px;
  text-align: center;
}

.split {
  height: 5px;
}

.got {
  background-image: url('img/got.jpg');
  background-size: 95% 100%;
  height: 50px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.got .check {
  display: none;
}

.got:hover {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.got:hover .check {
  display: inline;
}

.suits {
  background-image: url('img/suits.jpeg');
  background-size: 95% 100%;
  height: 50px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.suits:hover {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.suits .check {
  display: none;
}

.suits:hover .check {
  display: inline;
}

.got:focus {
  opacity: 0.5;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}